@model VisitorMetaData
@{
    ViewData["Title"] = "Visitor Requests Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMaster.cshtml";
}
<style>
    .ui-autocomplete-input {
        z-index: 10000 !important;
    }
</style>
<div class="container py-5">
    <div class="card-body">
        <div class="card col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-breadcrumb align-items-center border-bottom">
                <div class="p-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="VisitorRequests" asp-action="Create" asp-area="Admin"><i class='bx bx-add-to-queue'></i></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Direct Visitor - Meeting Request Entry!</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row mx-3">
                <form class="row g-3" method="post" enctype="multipart/form-data" asp-controller="VisitorRequests" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ZipCodeID" class="form-control" />
                    <input type="hidden" asp-for="CreatedBy" class="form-control" />
                    <input type="hidden" asp-for="VisitorTypeID" class="form-control" value="1" />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">First name<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="FirstName" class="form-control mx-2" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Last name<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="LastName" class="form-control mx-2" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Mobile no<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MobileNo" class="form-control mx-2" />
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Email<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Email" class="form-control mx-2" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Address1<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Address1" class="form-control mx-2" />
                                    <span asp-validation-for="Address1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Address2</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Address2" class="form-control mx-2" />
                                    <span asp-validation-for="Address2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Address3</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Address3" class="form-control mx-2" />
                                    <span asp-validation-for="Address3" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="" class="col-sm-3 col-form-label text-center">Area</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Area" class="form-control mx-2" />
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                            <div class="form-group">
                                <div id="results">
                                    <img src="~/images/UserDefault.png" id="defImg" width="50%" />
                                </div>
                                <br />
                                <img id="prevImg" style="display:none;  width:100%;" />
                                <input type="button" class="btn btn-primary" value="Show Preview" onClick="LoadCam()">
                                <input type="button" class="btn btn-primary" value="Capture Snapshot" onClick="CaptureSnapshot()">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="ZipCode" class="col-sm-3 col-form-label text-center">Pin code<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="ZipCode" class="form-control mx-2" maxlength="6" data-val="true" data-val-length="1-6 character" data-val-length-max="6" data-val-length-min="1" />
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="MeetingRequestDateTime" class="col-sm-3 col-form-label text-center">Meeting request date and time</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MeetingRequestDateTime" class="form-control mx-2" txtdate />
                                    <span asp-validation-for="MeetingRequestDateTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="IdentityProofTypeID" class="col-sm-3 col-form-label text-center">Identity proof type<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <select asp-for="IdentityProofTypeID" asp-items="ViewBag.IdentityProofType" class="form-control">
                                        <option value="">Select Identity Proof Type</option>
                                    </select>
                                    <span asp-validation-for="IdentityProofTypeID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="IdentityProofFilePath" class="col-sm-3 col-form-label text-center">Identity proof file</label>
                                <div class="col-sm-9">
                                    <input type="file" asp-for="IdentityProofFilePath" name="files" class="form-control mx-2" />
                                    <span asp-validation-for="IdentityProofFilePath" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="VehicleTypeID" class="col-sm-3 col-form-label text-center">Arrival by type</label>
                                <div class="col-sm-9">
                                    <select asp-for="VehicleTypeID" asp-items="ViewBag.VehicleTypeID" class="form-control">
                                        <option value="">Select Vehicle Type</option>
                                    </select>
                                    <span asp-validation-for="VehicleTypeID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="VehicleNo" class="col-sm-3 col-form-label text-center">Vehicle number</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="VehicleNo" class="form-control mx-2" />
                                    <span asp-validation-for="VehicleNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="MeetingRequestTitle" class="col-sm-3 col-form-label text-center">Meeting request title<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="MeetingRequestTitle" class="form-control mx-2" />
                                    <span asp-validation-for="MeetingRequestTitle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="MeetToWhomPersonName" class="col-sm-3 col-form-label text-center">Meet to whom person name<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <select asp-for="MeetToWhomPersonName" asp-items="ViewBag.MeetToWhomPersonName" class="form-control" id="PersonName">
                                        <option value="">Select person name to meet</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="MeetToWhomPersonEmail" class="col-sm-3 col-form-label text-center">Meet to whom person email<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <input asp-for="MeetToWhomPersonEmail" class="form-control" maxlength="150" id="personEmailToMeet" disabled />
                                    <span asp-validation-for="MeetToWhomPersonEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="MeetToWhomPersonMobile" class="col-sm-3 col-form-label text-center">Meet to whom person mobile</label>
                                <div class="col-sm-9">
                                    <input asp-for="MeetToWhomPersonMobile" class="form-control" maxlength="10" id="personMobileToMeet" disabled />
                                    <span asp-validation-for="MeetToWhomPersonMobile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="SecurityOfficerName" class="col-sm-3 col-form-label text-center">Security Officer Name</label>
                                <div class="col-sm-9">
                                    <select asp-for="SecurityOfficerName" asp-items="ViewBag.ListSecurityOfficer" class="form-control" id="securityOfficer">
                                        <option value="">Select Security Officer Name</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row mb-3">
                                <label for="SecurityOfficerMobile" class="col-sm-3 col-form-label text-center">Security officer mobile</label>
                                <div class="col-sm-9">
                                    <label asp-for="SecurityOfficerMobile" class="control-label">Security officer mobile</label>
                                    <input asp-for="SecurityOfficerMobile" class="form-control" maxlength="10" disabled id="securityOfficerMobile" />
                                    <span asp-validation-for="SecurityOfficerMobile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row mb-3">
                                <label for="PurposeofMeeting" class="col-sm-3 col-form-label text-center">Purpose of meeting<span style="color: rgba(220,53,69,1);">*</span></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="PurposeofMeeting" class="form-control mx-2" cols="40" rows="3" maxlength="1000"></textarea>
                                    <span asp-validation-for="PurposeofMeeting" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pb-4">
                        <div class="form-flating">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                Create
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {

            $("#ZipCode").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Admin/VisitorRequests/AutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            console.table(data);
                            if (data != false) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            }
                        },
                        error: function (response) {
                            console.log("Error: " + response.responseText);
                        },
                        failure: function (response) {
                            console.log("Error" + response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#ZipCodeID").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    <!-- Include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.min.js"></script>


    <!-- Javascript code to capture the snapshot and displaying it in the screen -->
    <script language="JavaScript">

        function LoadCam() {
            $("#defImg").hide();
            $("#results").show();
            $("#prevImg").hide();
            //<!-- Configure web cam settings -->
            Webcam.set({
                width: 300,
                height: 250,
                image_format: 'png',
                jpeg_quality: 90
            });
            Webcam.attach('#results');
        }
        function CaptureSnapshot() {


            Webcam.snap(function (data) {
                // display results in page
                //document.getElementById('results').innerHTML = '<img src="' + data + '"/>';


                // Send image data to the controller to store locally or in database
                Webcam.upload(data,
                    '/WebCam/CaptureImage',
                    function (code, text) {
                        $("#results").hide();
                        $("#prevImg").show();
                        $("#prevImg").attr("src", data);
                        Webcam.reset();
                    });
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PersonName").change(function () {
                var dID = $(this).val();
                $.getJSON("../VisitorRequests/EmployeeOrSecurityOfficerDetails/", { id: dID },
                    function (data) {
                        document.getElementById('personMobileToMeet').value = data.officeMobileNo;
                        document.getElementById('personEmailToMeet').value = data.officeEmail;
                    });
            });
        });
        $(document).ready(function () {
            $("#securityOfficer").change(function () {
                var dID = $(this).val();
                $.getJSON("../VisitorRequests/EmployeeOrSecurityOfficerDetails/", { id: dID },
                    function (data) {
                        document.getElementById('securityOfficerMobile').value = data.securityOfficerMobile;
                    });
            });
        });
    </script>
}
